html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
::selection {
    color: #7c7c7c;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}
.main {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(149,149,149,1) 40%, 
    rgba(119,119,119,1) 59%, rgba(55,55,55,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

/*_____HEADER_____*/
.header {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
    font-family: montserrat;
    color: #ffffff;
    padding: .5rem 0rem;
    cursor: pointer;
}
.header ul {
    display: flex;
}
.li_active {
    list-style-type: none;
}
.li_active:hover{
    transform: scale(1.1, 1.1);
    transform: translate(0rem, -.5rem);
}
.a_active {
    background: white;
    color: #7c7c7c; 
    text-decoration: none;
    transition: 0.3s;
    padding: .8rem 1.2rem;
    font-family: montserrat;
    font-weight: 300;
    font-size: 1.8rem;
    border: 1px solid white;
    border-radius: .4rem;
}
.a_active:hover {
    box-shadow: .2rem .2rem 1rem .3rem rgba(255, 255, 255, 0.911);
}
.header ul .li {
    list-style-type: none;
    margin: 0 0 0 3rem;
}
.header ul .li:hover {
    transform: scale(1.1, 1.1);
    transform: translate(0rem, -.5rem);
}
.header ul li .a {
    text-decoration: none;
    transition: 0.3s;
    color: white;
    padding: .8rem 1.2rem;
    font-family: montserrat;
    font-weight: 300;
    font-size: 1.8rem;
    border: 1px solid white;
    border-radius: .4rem;
}
.header ul .li .a:hover {
    background: white;
    color: #7c7c7c; 
    box-shadow: .2rem .2rem 1rem .3rem rgba(255, 255, 255, 0.911);
}

/*_____SECTION 1_____*/
.section1 {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
}
.code_img {
    max-width: 17rem;
    max-height: 17rem;
    color: #fff;
}
.section1 h2 {
    font-size: 8rem;
    text-align: center;
    font-family: montserrat;
    color: white;
}
.section1 p {
    font-size: 2rem;
    font-family: monospace;
    text-align: center;
    color: rgb(255, 255, 255);
}
span {
    color: #77be47;
}


/*_____SECTION 2_____*/





/*_____SECTION 3_____*/
.lan {
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: rgb(102, 102, 102);
    background: #e0e0e0;
    padding: 1.6rem 0rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 60%;
    border-radius: 2rem;
}
.face1 .content h2 {
    font-size: 3.7rem;
}
.face1 .content p {
    font-size: 2rem;
}
.grid_container {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}
.card {
    width: 30%;
    background: #e0e0e0;
    border: 1px solid black;
    margin-bottom: 5rem;
    border-radius: 4rem;
}
.card_title {
    text-align: center;
    background: linear-gradient(270deg, rgba(207,207,207,1) 0%, rgba(180,180,180,1) 8%, 
    rgba(162,162,162,1) 24%, rgba(143,143,143,1) 42%, rgba(107,107,107,1) 100%);
    padding: 5rem 1rem;
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4rem;
}
.content {
    padding: 2rem 2rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .btn {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(270deg, rgba(186,186,186,1) 0%, rgba(142,142,142,1) 100%);
    width: 50%;
    border: 2px solid rgb(99, 99, 99);
    border-radius: .5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 1.3rem;
    padding: .8rem 1rem;
}


/*_____SECTION 4_____*/
.section4 {
    min-height: 100vh;
    margin-top: 10rem;
}
.section4 h2 {
    font-family: sans-serif;
    font-size: 5rem;
    background: #e0e0e0;
    color: rgb(94, 94, 94);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 1.4rem .3rem;
    border-radius: 2rem;
    margin-bottom: 3.5rem;
}
.what_is_coding {
    max-width: 60%;
    margin: 0 auto;
    padding: 5rem 4rem;
    background: #e0e0e0;
    border-radius: 2rem;
    box-shadow:  2rem 2rem 6rem #bebebe, -2rem -2rem 6rem #ffffff;
}
.section4 p {
    font-size: 2.2rem;
    color: #4e4e4e;
    font-family: calibri;
}


/*_____SECTION 5_____*/
.section5 {
    min-height: 100vh;
    margin-top: 9rem;
    margin-bottom: 4rem;
}
.section5 h2 {
    font-family: sans-serif;
    font-size: 5rem;
    background: #e0e0e0;
    color: rgb(94, 94, 94);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 1.4rem .3rem;
    border-radius: 2rem;
    margin-bottom: 3.5rem;
}
.why_coding {
    max-width: 60%;
    margin: 0 auto;
    padding: 5rem 4rem;
    background: #e0e0e0;
    border-radius: 2rem;
    box-shadow:  2rem 2rem 6rem #bebebe, -2rem -2rem 6rem #ffffff;
}
.section5 p {
    font-size: 2.2rem;
    color: #4e4e4e;
    font-family: calibri;
}


/*____FOOTER_____*/
footer {
    position: relative;
    margin-top: 10rem;
    background: linear-gradient(0deg, rgb(85, 85, 85) 0%, rgba(255,255,255,1) 100%);
    height: 27rem;
}
footer h1 {
    font-size: 2.7rem;
    font-family: monospace;
    color: rgba(85, 85, 85, 0.753);
    background-color: white;
    padding: .7rem 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: .2rem .2rem 1rem .7rem white, -.2rem -.2rem 1rem .7rem white;
}

/*_____RESPONSIVE_____*/
@media (min-width: 1100px) {
    .card {
        max-width: 30rem;
        max-height: 44rem;
    }
    .
}
@media (min-width: 1080px) {
    .card {
        flex-basis: 30%;
    }
}
@media (max-width: 1080px) {
    html {
        font-size: 55%;
    }
    .card {
        flex-basis: 30%;
    }
}
@media (max-width: 968px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 860px){
    html {
        font-size: 43%;
    }
    .grid_container {
        width: 100%;
    }
    .what_is_coding {
        max-width: 80%;
    }
    .why_coding {
        max-width: 80%;
    }
}
@media (max-width: 700px) {
    .grid_container {
        justify-content: space-evenly;
    }
    .card {
        flex-basis: 40%;
    }
    .header {
        flex-direction: column;  
        justify-content: center;
        align-items: center;  
    }
    .header ul {
        margin-top: 3rem;
        justify-content: space-evenly;
    }
    .header ul li {
        margin: 0 0 0 3rem;
    }
    .what_is_coding {
        max-width: 80%;
    }
    .why_coding {
        max-width: 80%;
    }
}


@media (max-width: 470px) {
    .card {
        flex-basis: 60%;
        min-width: 80%;
    }
    .grid_container {
        width: 100%;
    }
    html {
        font-size: 37%;
    }
}



/*________DONE FINALLY________*/
